name: dev-short-tests
# Faster tests: mostly build tests, along with some other
# misc tests

concurrency:
  group: fast-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches: [ dev, release, actionsTest ]

permissions: read-all

jobs:
  gcc-hybrid-pgo:
    runs-on: macos-14
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag=v6.0.2
    - name: Install GCC
      run: |
        brew install gcc
    - name: Build hybrid PGO Zstd with GCC + Clang
      run: |
        make -C programs zstd-hybrid-pgo
    - name: Smoke test
      run: |
        ./programs/zstd -b
    - name: Upload binary
      uses: actions/upload-artifact@v4
      with:
        name: zstd-arm64-hybrid-pgo-macos
        path: programs/zstd
