name: macOS ARM64

on:
  push:
    branches: [ dev, main ]
  pull_request:
    branches: [ dev, main ]

jobs:
  build-and-test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install LLVM
        run: brew install llvm
      - name: Build
        run: make CC=$(brew --prefix llvm)/bin/clang
      - name: Check
        run: make check CC=$(brew --prefix llvm)/bin/clang
